body {
    margin: 10px;
}

.container {
    border: 3px solid lightgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.box {
    width: 5rem;
    height: 5rem;
    background: red;
    margin: 1rem;
    text-align: center;
}